name: generate-metrics

on:
  schedule:
    - cron: "0 6 * * 1"
  workflow_dispatch:

permissions:
  contents: write

jobs:
  metrics:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Generate metrics
        uses: lowlighter/metrics@latest
        with:
          filename: assets/cyberpunk/metrics.svg
          token: ${{ secrets.GITHUB_TOKEN }}
          user: millennialdev
          template: classic
          base: header, activity, community, repositories, metadata
          plugin_languages: yes
          plugin_languages_ignored: html, css
          plugin_languages_sections: most-used
          plugin_isocalendar: yes
          plugin_isocalendar_duration: half-year
          plugin_achievements: yes
          plugin_achievements_threshold: C
          plugin_activity: yes
          plugin_activity_limit: 5
          config_display: large
          config_border: none
          config_timezone: America/Los_Angeles

      - name: Commit updated metrics
        uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: "chore: update metrics"
          file_pattern: assets/cyberpunk/metrics.svg
